
<head>
    <link rel="stylesheet" href="~/css/quizStyles.css" />
</head>
<body>
    <main class="wrapper" id="wrapper">

        <h1 class="title" id="title">Quiz</h1>

        <div class="content" id="content">

        </div>
        <div class="buttonsContainer">
            <a class="buttonsContainer_button" id="nextBtn">Next</a>
            <a class="buttonsContainer_button" id="finishBtn">Finish</a>
        </div>
    </main>
    <script src="~/js/quizScript.js"></script>
</body>




