@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/quizStyles.css" />
</head>
<body>
    <main class="main">
        <h1 class="title" id="title">
            Quiz
        </h1>
        <div class="buttonsContainer">
            <a class="buttonsContainer_button" asp-controller="Quiz" asp-action="Index">
                Start quiz
            </a>
        </div>
    </main>
</body>
